{% extends 'Base.html' %}
    {% block content %}
     <div class = "container-fluid">
            <div class = "row">
                <div class = "col-md-4 col-sm-4 col-xs-12"></div>
                <div class = "col-md-4 col-sm-4 col-xs-12">
    <form class = "form-conatiner cl " action = "" method = "POST">
        {{ form.hidden_tag() }}
        <legend class = "border bottom-md-4 text-center cl">Search</legend>
        <div class = "form-group">
            {{ form.source.label(class = "form-control-label") }}
                                    {% if form.source.errors %}
                                        {{ form.source(class = "form-control form-control-lg is-invalid") }}
                                        <div class = "invalid-feedback">
                                            {% for error in form.source.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.source(placeholder = "source", class = "form-control")}}
                                    {% endif %}
                                </div>
                                <div class = "form-group">
                                    {{ form.destination.label(class = "form-control-label") }}
                                    {% if form.destination.errors %}
                                        {{ form.destination(class = "form-control form-control-lg is-invalid") }}<br>
                                        <div class = "invalid-feedback">
                                            {% for error in form.destination.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.destination(placeholder = "destination", class = "form-control")}}<br>
                                    {% endif %}
                                </div>
                                <div class = "form-group">
                                {{ form.submit(class = "btn btn-success btn-block") }}<br>
                            </div>
        </form>
        <div class = "col-md-4 col-sm-4 col-xs-12"></div>
                    </div>
                </div>
            </div>


    {% endblock content %}
